USE [master]
GO
/****** Object:  Database [WebAppYte]    Script Date: 1/9/2024 2:46:27 PM ******/
CREATE DATABASE [WebAppYte]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebAppYte', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HE151423\MSSQL\DATA\WebAppYte.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebAppYte_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HE151423\MSSQL\DATA\WebAppYte_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebAppYte].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebAppYte]

GO
/****** Object:  Table [dbo].[GioiTinh]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiTinh](
	[IDGioiTinh] [int] IDENTITY(1,1) NOT NULL,
	[GioiTinh] [nvarchar](6) NULL,
 CONSTRAINT [PK_GioiTinh] PRIMARY KEY CLUSTERED 
(
	[IDGioiTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiDap]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiDap](
	[IDHoidap] [int] IDENTITY(1,1) NOT NULL,
	[CauHoi] [nvarchar](max) NULL,
	[TraLoi] [nvarchar](max) NULL,
	[IDNguoiDung] [int] NULL,
	[IDQuanTri] [int] NULL,
	[NgayGui] [smalldatetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoiDap] PRIMARY KEY CLUSTERED 
(
	[IDHoidap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[IDKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[IDKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichKham]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichKham](
	[IDLichKham] [int] IDENTITY(1,1) NOT NULL,
	[ChuDe] [nvarchar](100) NULL,
	[MoTa] [nvarchar](300) NULL,
	[BatDau] [smalldatetime] NULL,
	[KetThuc] [smalldatetime] NULL,
	[TrangThai] [int] NULL,
	[ZoomInfo] [nvarchar](100) NULL,
	[KetQuaKham] [nvarchar](200) NULL,
	[IDNguoiDung] [int] NULL,
	[IDQuanTri] [int] NULL,
 CONSTRAINT [PK_LichKham] PRIMARY KEY CLUSTERED 
(
	[IDLichKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IDNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DienThoai] [nvarchar](max) NULL,
	[TaiKhoan] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[IDGioiTinh] [int] NULL,
	[DiaChiCuThe] [nvarchar](max) NULL,
	[SoCMND] [int] NULL,
	[IDTinh] [int] NULL,
	[NhomMau] [nvarchar](max) NULL,
	[ThongTinKhac] [nvarchar](max) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[IDNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTri](
	[IDQuanTri] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nchar](50) NULL,
	[MatKhau] [nchar](20) NULL,
	[ThongTinBacSi] [nvarchar](max) NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[IDKhoa] [int] NULL,
	[HoTen] [nvarchar](max) NULL,
	[VaiTro] [int] NULL,
	[AnhBia] [nchar](50) NULL,
	[ThongtinZoom] [nvarchar](100) NULL,
 CONSTRAINT [PK_QuanTri] PRIMARY KEY CLUSTERED 
(
	[IDQuanTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solieucovid]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solieudichbenh](
	[IDThongke] [int] IDENTITY(1,1) NOT NULL,
	[Quocgia] [nvarchar](50) NULL,
	[Nam] [int] NULL,
	[Dichbenh] [nchar](50) NULL,
	[Canhiem] [int] NULL,
	[Tuvong] [int] NULL,
 CONSTRAINT [PK_Solieudichbenh] PRIMARY KEY CLUSTERED 
(
	[IDThongke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[IDTinh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinh] [nvarchar](30) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[IDTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tintuc]    Script Date: 1/9/2024 2:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tintuc](
	[IDTintuc] [int] IDENTITY(1,1) NOT NULL,
	[Tieude] [nvarchar](max) NULL,
	[Noidung] [nvarchar](max) NULL,
	[Hinhanh] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[Ngaydang] [smalldatetime] NULL,
	[TheLoai] [nchar](20) NULL,
 CONSTRAINT [PK_Tintuc] PRIMARY KEY CLUSTERED 
(
	[IDTintuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


CREATE TABLE [dbo].[DanhGia](
    [IDDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[IDDanhGiaChatLuong] [int] NULL,
	[IDNguoiDung] [int] NULL,
	[IDQuanTri] [int] NULL,
	[IDLichKham] [int] NULL,
	 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[IDDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[DanhGiaChatLuong](
    [IDDanhGiaChatLuong] [int] IDENTITY(1,1) NOT NULL,
	[DanhGiaChatLuong] [nvarchar](10) NULL
 CONSTRAINT [PK_KetQuaDanhGia] PRIMARY KEY CLUSTERED 
(
	[IDDanhGiaChatLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DanhGiaChatLuong] ON 

INSERT [dbo].[DanhGiaChatLuong] ([IDDanhGiaChatLuong], [DanhGiaChatLuong]) VALUES (1, N'Tốt')
INSERT [dbo].[DanhGiaChatLuong] ([IDDanhGiaChatLuong], [DanhGiaChatLuong]) VALUES (2, N'Tệ')
INSERT [dbo].[DanhGiaChatLuong] ([IDDanhGiaChatLuong], [DanhGiaChatLuong]) VALUES (3, N'Hài lòng')
SET IDENTITY_INSERT [dbo].[DanhGiaChatLuong] OFF
GO 
SET IDENTITY_INSERT [dbo].[DanhGia] ON
INSERT [dbo].[DanhGia] ([IDDanhGia], [NoiDung], [IDDanhGiaChatLuong], [IDNguoiDung], [IDQuanTri]) VALUES (1, N'Khám rất chi tiết', 1, 1, 3)
INSERT [dbo].[DanhGia] ([IDDanhGia], [NoiDung], [IDDanhGiaChatLuong], [IDNguoiDung], [IDQuanTri]) VALUES (2, N'Khám chưa tốt', 2, 1, 2)
INSERT [dbo].[DanhGia] ([IDDanhGia], [NoiDung], [IDDanhGiaChatLuong], [IDNguoiDung], [IDQuanTri]) VALUES (3, N'Bác sĩ khám chuẩn bệnh', 3, 1, 3)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[GioiTinh] ON 

INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (1, N'Nam')
INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (2, N'Nữ')
INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (3, N'Khác')
SET IDENTITY_INSERT [dbo].[GioiTinh] OFF
GO
SET IDENTITY_INSERT [dbo].[HoiDap] ON 

INSERT [dbo].[HoiDap] ([IDHoidap], [CauHoi], [TraLoi], [IDNguoiDung], [IDQuanTri], [NgayGui], [GhiChu], [TrangThai]) VALUES (3010, N'Cách phòng tránh dịch bệnh chân tay miệng', N'Nên rửa tay sát khuẩn thường xuyên', 1, 3, CAST(N'2020-07-04T09:04:00' AS SmallDateTime), NULL, 1)
INSERT [dbo].[HoiDap] ([IDHoidap], [CauHoi], [TraLoi], [IDNguoiDung], [IDQuanTri], [NgayGui], [GhiChu], [TrangThai]) VALUES (3014, N'Cách phòng tránh dịch bệnh Côvid', N'Nên rửa tay sát khuẩn thường xuyên', 1, 2, CAST(N'2020-07-03T16:39:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[HoiDap] ([IDHoidap], [CauHoi], [TraLoi], [IDNguoiDung], [IDQuanTri], [NgayGui], [GhiChu], [TrangThai]) VALUES (3015, N'Virus thường lây bệnh qua người bằng con đường nào, thời gian lây bệnh đến phát bệnh trong thời gian bao lâu?', N'Virus này lây qua đường không khí, qua giọt bắn nước bọt, qua vật dụng, thời gian ủ bệnh là 14 ngày.', 1, 3, CAST(N'2020-07-03T17:17:00' AS SmallDateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[HoiDap] OFF
GO
SET IDENTITY_INSERT [dbo].[Khoa] ON 

INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (1, N'Hô hấp', NULL)
INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (2, N'Tai - Mũi - Họng', NULL)
INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (3, N'Mắt', NULL)
SET IDENTITY_INSERT [dbo].[Khoa] OFF
GO
SET IDENTITY_INSERT [dbo].[LichKham] ON 

INSERT [dbo].[LichKham] ([IDLichKham], [ChuDe], [MoTa], [BatDau], [KetThuc], [TrangThai], [ZoomInfo], [KetQuaKham], [IDNguoiDung], [IDQuanTri]) VALUES (2, N'khám bệnh', NULL, CAST(N'2020-07-06T11:16:00' AS SmallDateTime), CAST(N'2020-07-06T11:20:00' AS SmallDateTime), 2, NULL, NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[LichKham] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDTinh], [NhomMau], [ThongTinKhac]) VALUES (1, N'Phạm Cương', N'phamduycuong2k1@gmail.com                                                                                 ', N'0812883636          ', N'Cuongyd1                                          ', N'123456              ', 1, N'Định tân - Yên Định', 123456789, 1, NULL, NULL)
INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDTinh], [NhomMau], [ThongTinKhac]) VALUES (2, N'Bệnh nhân', NULL, NULL, N'benhnhan                                          ', N'123456              ', 1, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDTinh], [NhomMau], [ThongTinKhac]) VALUES (1003, N'Phạm Cương', N'phamduycuong2k1@gmail.com                                                                              ', N'0812883636          ', N'admin                                             ', NULL, 1, NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[QuanTri] ON 

INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia], [ThongtinZoom]) VALUES (2, N'admin                                             ', N'123456              ', NULL, N'', 7, N'Phạm Văn Cương', 1, NULL, N'https://zoom.us/j/91107480790?pwd=MW9OQVhxVUI4eStmM1lpVUtaN1k3QT09')
INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia], [ThongtinZoom]) VALUES (3, N'Bacsy                                             ', N'123456              ', N'Đang làm việc tại bệnh viện Đa khoa TP Hà Nội', N'Thạc sỹ', 6, N'BS CK I Nguyễn Văn Hòa', 2, NULL, NULL)
INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia], [ThongtinZoom]) VALUES (4, N'Bacsy2                                            ', N'123456              ', N'Đang làm việc tại bệnh viện Bạch Mai', N'Thạc Sỹ', 1, N'BS Hoa', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[QuanTri] OFF
GO
SET IDENTITY_INSERT [dbo].[Solieudichbenh] ON 

INSERT [dbo].[Solieudichbenh] ([IDThongke], [Quocgia], [Nam], [Dichbenh], [Canhiem], [Tuvong]) VALUES (1, N'VIỆT NAM', 2024, N'bệnh dại', 45, 23)
INSERT [dbo].[Solieudichbenh] ([IDThongke], [Quocgia], [Nam], [Dichbenh], [Canhiem], [Tuvong]) VALUES (2, N'VIỆT NAM', 2024, N'COVID-19', 419, null )
INSERT [dbo].[Solieudichbenh] ([IDThongke], [Quocgia], [Nam], [Dichbenh], [Canhiem], [Tuvong]) VALUES (3, N'THẾ GIỚI', 2024, N'COVID-19', 70000, 10000)
SET IDENTITY_INSERT [dbo].[Solieudichbenh] OFF
GO
SET IDENTITY_INSERT TinhThanh ON;
SET IDENTITY_INSERT TinhThanh OFF;
GO
SET IDENTITY_INSERT [dbo].[Tintuc] ON 

SET IDENTITY_INSERT [dbo].[Tintuc] OFF
GO

ALTER TABLE [dbo].[HoiDap] ADD  CONSTRAINT [DF_HoiDap_NgayGui]  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[HoiDap] ADD  CONSTRAINT [DF_HoiDap_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Tintuc] ADD  CONSTRAINT [DF_Tintuc_Ngaydang]  DEFAULT (getdate()) FOR [Ngaydang]
GO
ALTER TABLE [dbo].[HoiDap]  WITH CHECK ADD  CONSTRAINT [FK_HoiDap_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[HoiDap] CHECK CONSTRAINT [FK_HoiDap_NguoiDung]
GO
ALTER TABLE [dbo].[HoiDap]  WITH CHECK ADD  CONSTRAINT [FK_HoiDap_QuanTri] FOREIGN KEY([IDQuanTri])
REFERENCES [dbo].[QuanTri] ([IDQuanTri])
GO
ALTER TABLE [dbo].[HoiDap] CHECK CONSTRAINT [FK_HoiDap_QuanTri]
GO
ALTER TABLE [dbo].[LichKham]  WITH CHECK ADD  CONSTRAINT [FK_LichKham_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[LichKham] CHECK CONSTRAINT [FK_LichKham_NguoiDung]
GO
ALTER TABLE [dbo].[LichKham]  WITH CHECK ADD  CONSTRAINT [FK_LichKham_QuanTri] FOREIGN KEY([IDQuanTri])
REFERENCES [dbo].[QuanTri] ([IDQuanTri])
GO
ALTER TABLE [dbo].[LichKham] CHECK CONSTRAINT [FK_LichKham_QuanTri]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_GioiTinh] FOREIGN KEY([IDGioiTinh])
REFERENCES [dbo].[GioiTinh] ([IDGioiTinh])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_GioiTinh]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_TinhThanh] FOREIGN KEY([IDTinh])
REFERENCES [dbo].[TinhThanh] ([IDTinh])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_TinhThanh]
GO
ALTER TABLE [dbo].[QuanTri]  WITH CHECK ADD  CONSTRAINT [FK_QuanTri_Khoa] FOREIGN KEY([IDKhoa])
REFERENCES [dbo].[Khoa] ([IDKhoa])
GO
ALTER TABLE [dbo].[QuanTri] CHECK CONSTRAINT [FK_QuanTri_Khoa]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_NguoiDung]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_QuanTri] FOREIGN KEY([IDQuanTri])
REFERENCES [dbo].[QuanTri] ([IDQuanTri])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_QuanTri]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_LichKham] FOREIGN KEY([IDLichKham])
REFERENCES [dbo].[LichKham] ([IDLichKham])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_LichKham]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_DanhGiaChatLuong] FOREIGN KEY([IDDanhGiaChatLuong])
REFERENCES [dbo].[DanhGiaChatLuong] ([IDDanhGiaChatLuong])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_DanhGiaChatLuong]
GO
USE [master]
GO
